/* src/App.css */
body, html {
  height: 100%;
  margin: 0;
  padding: 0; 
  overflow-y: auto; /* Permite el scroll natural en el navegador */
  color: white;
  background-color: #000000;
}

.App {
  display: flex;
  justify-content: flex-start; /* Alinea el contenido hacia arriba */
  align-items: flex-start; /* Alinea el contenido hacia arriba */
  flex-direction: column; /* Coloca los elementos uno debajo del otro */
  height: 100%;
  width: 100%;
  padding-top: 20px; /* Añade un pequeño margen superior */
}

.ChatFormContainer {
  width: 100%;
}

.ChatForm {
  padding: 20px; /* Reduce el padding para acercar el contenido */
  max-width: 800px; /* O ajusta según lo necesites */
  width: 40%; /* Usa un porcentaje del ancho para que sea responsive */
  margin: auto; /* Centra el formulario en la página */
  text-align: center;
}

.ChatForm textarea, 
.ChatForm select, 
.ChatForm button, 
.ChatForm input[type="email"], 
.ChatForm input[type="text"] {
  width: 100%;
  padding: 15px;
  margin-top: 8px;
  border: 2px solid #aaa;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 16px;
  box-sizing: border-box;
}

option {
  color: black;
}

.ChatForm button {
  margin-top: 20px;
  background-color: #5a4e7c;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.ChatForm button:hover {
  background-color: #453764;
}

.pre {
  background-color: #000000;
  color: #fff;
  padding: 20px;
  border-radius: 4px;
  margin-top: 20px;
  text-align: left;
  overflow: auto;
}

.Response {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #000000;
  color: #fff;
  padding: 20px;
  border-radius: 0;
  margin-top: 20px;
  text-align: left;
  overflow: auto;
  min-height: 50px;
  white-space: pre-wrap;
  word-wrap: break-word;
}